<h2>Template driven form</h2>
<div [hidden]="!submitted">
  <p>{{model|json}}</p>
<button type="button" (click)="submitted=false">Edit</button>
</div>
<div [hidden]="submitted">
  <form #petForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" required [(ngModel)]="model.name" name="name">
    </div>

    <div>
      <label for="specie">Name</label>
      <select type="text" id="specie" required [(ngModel)]="model.specie" name="specie">
        <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
      </select>
    </div>

    <button [disabled]="!petForm.form.valid" type="submit">Submit</button>
  </form>
</div>
<br>

<h2>Reactive forms</h2>

<form action="">
  <label for="name">Name: </label>
  <input type="text" name="" id="name" [formControl]="name">
  <p>Value: {{name.value}}</p>
  <button type="button" (click)="updateName()">Nancy</button>
</form>

<h2>Reactive Form with formgroup</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmitTwo()">
  <label for="first-name">First Name</label>
  <input type="text" id="first-name" formControlName="firstName" required>
  <label for="last-name">last Name</label>
  <input type="number" id="last-name" formControlName="lastName" required>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
